@model StokTakipMVC.Modals.Entity.TBLURUNLER

@{
    ViewBag.Title = "UrunGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm("Guncelle", "Urun", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.URUNID, new { @class = "form-control" })
        <br />
        @Html.Label("ÜRÜN AD:")
        @Html.TextBoxFor(m => m.URUNAD, new { @class = "form-control" })
        <br />
        @Html.Label("MARKA:")
        @Html.TextBoxFor(m => m.MARKA, new { @class = "form-control" })
        <br />
        @Html.Label("KATEGORİ:")
        @Html.DropDownListFor(m => m.TBLKATEGORILER.KATEGORIID, (List<SelectListItem>)ViewBag.kategoriler, new { @class = "form-control" })
        <BR />
        @Html.Label("FİYAT:")
        @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
        <br />
        @Html.Label("STOK:")
        @Html.TextBoxFor(m => m.STOK, new { @class = "form-control" })
        <br />

    </div>
    <a href="/Urun/Index/" class="btn btn-danger">İptal</a>
    <button class="btn btn-primary">Güncelle</button>
}

