@using StokTakipMVC.Modals.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="card">
    <div class="card-header row">
        <div class="col-md-6">
            <h2>MÜŞTERİLER</h2>
        </div>
        <div class="col-md-6 text-right">
            @using (Html.BeginForm("Index", "Musteri", FormMethod.Get))
            {
                <p class="mb-0">
                    Aranacak kelime girin: @Html.TextBox("p")
                    <input type="submit" value="ARA" class="btn btn-primary" />
                </p>
            }
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <th>AD-SOYAD</th>
                <th>İŞLEM</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.MUSTERIID</td>
                    <td>@x.MUSTERIAD @x.MUSTERISOYAD</td>
                    <td>
                        @Html.ActionLink("SİL", "Sil", new { id = x.MUSTERIID }, new { @class = "btn btn-danger", onclick = "return confirm('Gerçekten silmek istiyor musunuz?')" })
                        @*<a href="/Musteri/Sil/@x.MUSTERIID" class="btn btn-danger">SİL</a>*@
                        <a href="/Musteri/MusteriGetir/@x.MUSTERIID" class="btn btn-success">GÜNCELLE</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="card-footer">
        <a href="/Musteri/NewMusteri/" class="btn btn-primary">Yeni Müşteri Ekle</a>

    </div>
</div>

