@model StokTakipMVC.Modals.Entity.TBLMUSTERILER

@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.MUSTERIID, new { @class = "form-control" })

        <br />
        @Html.Label("MÜŞTERİ AD:")
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        <br />
        @Html.Label("MÜŞTERİ SOYAD:")
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
        <br />
    </div>
    <a href="/Musteri/Index/" class="btn btn-danger">İptal</a>
    <button class="btn btn-primary">Güncelle</button>
}

