@using StokTakipMVC.Modals.Entity
@model List<TBLSATISLAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>SATIŞLAR</h2>
<br />
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>ÜRÜN</th>
        <th>MÜŞTERİ</th>
        <th>ADET</th>
        <th>FİYAT</th>
        <th>İŞLEMLER</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.SATISID</td>
            <td>@x.URUN</td>
            <td>@x.MUSTERI</td>
            <td>@x.ADET</td>
            <td>@x.FIYAT</td>
            <td>
                <a href="/Satis/Sil/" class="btn btn-danger">SİL</a>
                <a href="/Satis/Guncelle/" class="btn btn-success">GÜNCELLE</a>
            </td>
        </tr>
    }
</table>

<br />
<br />

<a href="/Satis/Ekle/" class="btn btn-primary">Yeni Satış Ekle</a>
